{% load static %}
<section class="banner_part" style="background-image: url({% static 'img/banner_bg_1.jpg' %});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>O'zingizni erkin his eting</h5>
                        <h1>Chiroyli ko'rinish kafolatlangan</h1>
                        <p>Bizning Master X jamoamizda sochingizni turmaklating. Oruziyingizdagidek soch turmagi.
                            Chiroyli ko'rinish kafolatlangan</p>
                        <div class="banner_btn">
                            <a href="/aloqa" class="btn_1">Aloqa</a>
                            <a href="/#onlaynyozilish" class="btn_2">Hoziroq Onlayn Yozilish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- about part start-->
<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-6">
                <div class="about_img ">
                    <img src="{% static 'img/about_us_1.png' %}" class="about_img_1" alt="">
                    <img src="{% static 'img/about_us_2.png' %}" class="about_img_2" alt="">
                    <img src="{% static 'img/about_us_3.png' %}" class="about_img_3" alt="">
                </div>
            </div>
            <div class="col-md-7 offset-md-1 col-lg-3 offset-lg-1">
                <div class="about_text">
                    <h5>Biz haqimizda</h5>
                    <h2>Orzuyingizdagidek soch turmagi</h2>
                    <p>Bizning Master X dagi eng kuchli Masterlarimizda sochingizni oldiring, va chiroyli soch
                        turmagingiz
                        bilan do'stlaringizni hayratda qoldiring. Bizga hozirning o'zida onlayn yoziling, va joy band
                        qiling.
                        Chiroyli ko'rinish 100% kafolatlanadi</p>
                    <div class="form-group mt-3">
                        <a href="/#onlaynyozilish">
                            <button type="submit" class="button button-contactForm btn_4">Hoziroq onlayn yozilish
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="artist_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-lg-6 col-sm-10">
                <div class="section_tittle">
                    <img src="{% static 'img/section_tittle_icon.png' %}" alt="icon">
                    <h2>Bizning Masterlarimiz</h2>
                    <p>Bizning Master X dagi tajribali Masterlarimiz bilan tanishing. Va onlayn yoziling.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="{% static 'img/artist/artist_1.png' %}" alt="artist">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text text-center">
                            <h3>Shaxboz Sultonov</h3>
                            <p>O'rta darajadagi Master</p>
                            <div class="social_icon">
                                <a href="tel://+998994724997"> <i class="fas fa-phone"></i> </a>
                                <a href="https://t.me/ZDEVPRO"> <i class="fab fa-telegram"></i> </a>
                                <a href="https://ig.me/ZDEVPRO"> <i class="ti-instagram"></i> </a>
                                <a href="tel://+998994724997"> <i class="fab fa-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="{% static 'img/marufakam3.jpg' %}" alt="artist">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text text-center">
                            <h3>Maruf Azamjonov</h3>
                            <p>Kuchli toifali Master</p>
                            <div class="social_icon">
                                <a href="tel://+998994724997"> <i class="fas fa-phone"></i> </a>
                                <a href="https://t.me/ZDEVPRO"> <i class="fab fa-telegram"></i> </a>
                                <a href="https://ig.me/ZDEVPRO"> <i class="ti-instagram"></i> </a>
                                <a href="tel://+998994724997"> <i class="fab fa-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="{% static 'img/artist/artist_3.png' %}" alt="artist">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text text-center">
                            <h3>Sardor Ubaydullayev</h3>
                            <p>O'rta darajadagi Master</p>
                            <div class="social_icon">
                                <a href="tel://+998994724997"> <i class="fas fa-phone"></i> </a>
                                <a href="https://t.me/ZDEVPRO"> <i class="fab fa-telegram"></i> </a>
                                <a href="https://ig.me/ZDEVPRO"> <i class="ti-instagram"></i> </a>
                                <a href="tel://+998994724997"> <i class="fab fa-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="regervation_part section_padding" id="onlaynyozilish">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <form action="{% url 'index' %}" method="post" class="regervation_part_iner">
                    {% csrf_token %}
                    <div class="form-row"> {% csrf_token %}
                        <div class="form-group col-md-6">
                            <input name="name" type="name" class="form-control" id="inputEmail4" placeholder="Ism *">
                        </div>
                        <div class="form-group col-md-6">

                            <select name="service" class="form-control" id="Select">
                                <option value="" selected>Servisni tanlang *</option>
                                <option value="Master X Tashkent">Master X Tashkent</option>
                                <option value="Master X Drujba">Master X Drujba</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">

                            <select name="master" class="form-control" id="Select">
                                <option value="" selected>Masterni tanlang</option>
                                <option value="Maruf">Maruf</option>
                                <option value="Murod">Murod</option>
                                <option value="Mirjalol">Mirjalol</option>
                                <option value="Maxmud">Maxmud</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">

                            <input name="phone" type="number" class="form-control" id="pnone"
                                   placeholder="Telefon raqamingiz *">
                        </div>
                        <div class="form-group col-md-6">
                            <div class="input-group date">

                                <input name="date" id="datepicker" type="text" class="form-control"
                                       placeholder="Sana *"/>
                            </div>
                        </div>
                        <div class="form-group time_icon col-md-6">

                            <select name="time" class="form-control" id="Select2">
                                <option value="" selected>Vaqt *</option>
                                <option value="8:00 - 10:00">8:00 - 10:00</option>
                                <option value="10:00 - 12:00">10:00 - 12:00</option>
                                <option value="12:00 - 14:00">12:00 - 14:00</option>
                                <option value="14:00 - 16:00">14:00 - 16:00</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">

                            <textarea name="message" class="form-control" id="Textarea" rows="4"
                                      placeholder="Xabaringiz bo'lsa yozing * (shart emas)"></textarea>
                        </div>
                    </div>
                    {% if form.errors %}
                        {% for field in signup_form %}
                            {% for error in field.errors %}
                                <strong style="text-align: center;color: red;">{{ error|escape }}</strong><br/>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div class="regerv_btn">
                        <button style="border-color: #f81c1c;" type="submit" class="regerv_btn_iner">Yozilish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<!--::regervation_part end::-->

<!-- our_offer part start-->
<section class="our_offer" style="margin-top: 25px; margin-bottom: 25px;">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-12">
                <div class="single_offer_part">
                    <div class="single_offer">
                        <img src="{% static 'img/offer_img_1.png' %}" alt="offer_img_1">
                        <div class="hover_text">
                            <img src="{% static 'img/icon/cutter.svg' %}" alt="#">
                            <h2>Qulay Narx</h2>
                            <p>Hamyonbop narxlarda sochingizni oldiring.</p>
                            <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="single_offer_part">
                    <div class="single_offer">
                        <img src="{% static 'img/offer_img_2.png' %}" alt="offer_img_1">
                        <div class="hover_text">
                            <img src="{% static 'img/icon/cutter.svg' %}" alt="#">
                            <h2>Chiroyli Soch turmagi</h2>
                            <p>Sochingizni bizda oldiring </p>
                            <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="single_offer_part">
                    <div class="single_offer">
                        <img src="{% static 'img/offer_img_3.png' %}" alt="offer_img_1">
                        <div class="hover_text">
                            <img src="{% static 'img/icon/cutter.svg' %}" alt="#">
                            <h2>Orzuyingizdagidek Turmak</h2>
                            <p>O'z orzuyingizdagidek soch turmagi</p>
                            <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="single_offer_part">
                    <div class="single_offer">
                        <img src="{% static 'img/offer_img_4.png' %}" alt="offer_img_1">
                        <div class="hover_text">
                            <img src="{% static 'img/icon/cutter.svg' %}" alt="#">
                            <h2>Qulay Uslub</h2>
                            <p>Sochingizni bizda oldiring</p>
                            <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_offer part end-->