{% load static %}
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-sm-6 col-lg-4">
                <div class="single-footer-widget footer_1">
                    <h4>Biz haqimizda</h4>
                    <p>Bizning Master X dagi eng kuchli Masterlarimizda sochingizni oldiring, va chiroyli soch
                        turmagingiz
                        bilan do'stlaringizni hayratda qoldiring. Bizga hozirning o'zida onlayn yoziling, va joy band
                        qiling.
                        Chiroyli ko'rinish 100% kafolatlanadi</p>
                    <p class="mt-3">Bizga onlayn yozilish uchun, menyudan onlayn yozilish tugmasini bosing.</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single-footer-widget footer_2">
                    <h4>Biz bilan aloqa</h4>
                    <div class="contact_info">
                        <span class="ti-home"></span>
                        <h5>Toshkent, Alisher Navoiy, Xalqar Do'stligi</h5>
                        <p>Alisher Navoiy ko'chasi,Ikkinchi offisimiz Xalqalar Do'stligi to'g'risida</p>
                    </div>
                    <div class="contact_info">
                        <span class="ti-headphone-alt"></span>
                        <h5>+998 91 123 45 67</h5>
                        <p>Ish vaqti har kuni. Salonimiz soat 08:00 dan ochiladi</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-8 col-lg-4">
                <div class="single-footer-widget footer_3">
                    <h4>Bizni yangiliklarimizni kuzatib boring.</h4>
                    <p>Bizga hozirning o'zida onlayn yoziling.</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form class="form-inline">
                            <input class="form-control" placeholder="Emailga Xabar yuboring">
                            <a href="/aloqa">
                                <button class="btn btn-default text-uppercase"><i class="ti-angle-right"></i></button>
                            </a>
                            {#                                <div style="position: absolute; left: -5000px;">#}
                            {#                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""#}
                            {#                                        type="text">#}
                            {#                                </div>#}

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;<script>document.write(new Date().getFullYear());</script>
                        Barcha huquqlar himoyalangan | Bu sayt <i class="fa fa-heart-o" aria-hidden="true"></i><a
                            href="https://t.me/ZDEVPRO" target="_blank">ZDEVPRO</a> tomonidan tayyorlangan.
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->

<!-- jquery plugins here-->

<script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
<!-- popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- easing js -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'js/masonry.pkgd.js' %}"></script>
<!-- particles js -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<!-- contact js -->
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<!-- custom js -->
<script src="{% static 'js/custom.js' %}"></script>
