.banner_part:after {
    background: url(../img/banner_new.png) top right no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    z-index: -1;
    right: 0;
    background-size: 46%;
}

.menu_fixed:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #212529;
  z-index: -1;
  opacity: .7;
}

.btn_4 {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 14.5px 43px;
  background-color: #212529;
  border: 2px solid #212529;
}